@model IEnumerable<CycleLog.DAL.DTO.TrainingSessionDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CycleLog</h1>
    <p>Velkommen til CycleLog - her kan du registrere dine træninger og konkurrere mod andre ryttere.</p>
</div>

<div class="cta-container">
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn-primary" href="@Url.Action("Create", "TrainingSession")">
            Indberet ny træning
        </a>
    }
    else
    {
        <a class="btn-primary" href="@Url.Action("Login", "Home")">
            Login
        </a>
    }
</div>

<div class="leaderboard">
    <table>
        <thead>
            <tr>
                <th>Place</th>
                <th>Name</th>
                <th>Total Distance</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>Place</td>
                <td>@item.Username</td>
                <td>@item.DistanceKm Km</td>
            </tr>
        }
    </table>
</div>